<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>성경 전체 리스트</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bible : ${bibles}">
                <td th:text="${bible.book}"></td>
                <td th:text="${bible.chapter}"></td>
                <td th:text="${bible.verse}"></td>
                <td th:text="${bible.content}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>