<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th width="150">성경 전체 리스트</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bible : ${bibles}">

                <td width="120" th:text="${bibleTitle[bible.book-1]}"></td>
                <td width="50"th:text="${bible.chapter}+장"></td>
                <td width="50"th:text="${bible.verse}+절"></td>
                <td th:text="${bible.content}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>